<h1>Fast Food Guru Home Page(In development)</h1>
<p>To go to the fast food list form click on a link</p>
<ul>
     <% food_list.forEach((itemF) => { %>
        <li><a href = "/<%= itemF %>"><%= itemF %></a></li>
    <% }); %>
</ul>